body{
    background-color: url(fons.jpg);

}
.wrapper
{
    background-color: rgb(250, 250, 99);
    width: 500px;
    height: 500px;
    border: 5px solid rgb(221, 35, 35);
    padding: 10px;
    margin:auto;
    

}